{{!< layout/default}}

{{#extend "css"}}
<style>
.btn-warning {
    color: #fff;
    background-color: #FF7518;
    border-color: #FF7518;
}
.btn-warning:disabled {
    color: #fff;
    background-color: #FF7518;
    border-color: #FF7518;
}
.modal-lg2 {
max-width: 1400px;
}
</style>
{{/extend}}

<div class="col-md-12">
        <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Crear curso</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Cursos cerrados</a>
            </li>
        </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row">
                <div class="col-md-2 col-xs-12">
                        
                        <button class="btn btn-secondary btn-block" id="newCourse">
                            <i style="color:#1abc9c;" class="fa fa-plus" aria-hidden="true" ></i> Nuevo curso
                        </button>
                        <button class="btn btn-secondary btn-block" id="modCourse" disabled>
                            <i style="color:#f1c40f;" class="fas fa-edit"></i> Modificar
                        </button>
                        <button class="btn btn-secondary btn-block" id="deletCourse" disabled>
                            <i style="color:#e74c3c;" class="fas fa-trash-alt"></i> Eliminar
                        </button>
                        <button class="btn btn-secondary btn-block" id="asignarCourse" disabled>
                            <i style="color:#3498db;" class="fas fa-user-plus"></i> Asignar
                        </button>
                        <button class="btn btn-secondary btn-block" id="closeCourse" disabled>
                            <i style="color:#2ecc71;" class="fas fa-lock"></i> Cerrar Curso
                        </button>
                    </div>
                    <div class="col-md-10 col-xs-12 box-shadows table-responsive">
                        <table id="tableCourses" class="display nowrap table table-condensed" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Año</th>
                                    <th>Horario</th>
                                </tr>
                            </thead>
                        </table>
                        <div id="loadingCourse">
                            <center>
                                <i style="color:#3498db;" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                <span class="sr-only">Cargando...</span>
                            </center>
                        </div>
                    </div>    
            </div>
        </div>
    
    
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="row">
                <div class="col-md-2 col-xs-12">
                        <button class="btn btn-secondary btn-block" id="seeStudentsCourse" disabled>
                            <i style="color:#3498db;" class="far fa-eye" aria-hidden="true" ></i> Ver alumnos
                        </button>
                        <button class="btn btn-secondary btn-block" id="openCourse" disabled>
                            <i style="color:#2ecc71;" class="fas fa-lock-open"></i> Abrir Curso
                        </button>
                    </div>
                    <div class="col-md-10 col-xs-12 box-shadows table-responsive">
                        <table id="tableCoursesCerrados" class="display nowrap table table-condensed" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Año</th>
                                    <th>Horario</th>
                                </tr>
                            </thead>
                        </table>
                        <div id="loadingCourseCerrado">
                            <center>
                                <i style="color:#3498db;" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                <span class="sr-only">Cargando...</span>
                            </center>
                        </div>
                    </div>    
            </div>
        </div>
    </div>
</div>

<!-- Modal formato-->
<div class="modal fade" id="modalCourses" tabindex="-1" role="dialog" aria-labelledby="modal_title" >
    <div class="modal-dialog modal-lg2" role="document">
        <div class="modal-content" style="background-color: #ffffff">
            <div class="modal-header" style="background:#333333; color:#fff">
                <h5 class="modal-title" id="modal_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_body"></div>
            <div class="modal-footer" id="modal_footer"></div>
        </div>
    </div>
</div>
<!-- Modal formato-->
<div class="modal fade" id="modalCourses2" tabindex="-1" role="dialog" aria-labelledby="modal_title" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="background-color: #ffffff">
            <div class="modal-header" style="background:#333333; color:#fff">
                <h5 class="modal-title" id="modal_title2"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_body2"></div>
            <div class="modal-footer" id="modal_footer2"></div>
        </div>
    </div>
</div>


{{#extend "js"}}
<script>
//DATATABLE CURSOS
let horarioSelect ='';
let cursoSelected ='';
let alumnosaAsignar=[]
let datatable;
let datatableCourse;
let cursosRowSelectedData;
let coursesRowSelected;

let datatableCourseClose;
let cursosCloseRowSelectedData;
let cursosCloseRowSelected;
let cursoSelect = '';

let datatableAlumnosEnrolled;
let alumosRowSelectedData;

jQuery(document).ready(function ($) {
    chargeTableCourses();
    chargeTableCoursesClose()
});


//cargar cursos en dataTable
    function chargeTableCourses() {
        datatableCourse = $('#tableCourses')
        .DataTable({            
                    "iDisplayLength": 11,
                    "oLanguage": {
                        "sSearch": "Buscar :"
                    },
                    "order": [[0, "desc"]],
                    "responsive": true,
                    "columns": [
                        { "data": "name"},
                        { "data": "year"},
                        { "data": "horary" },             
                    ],
                initComplete: function (settings, json) {
                    ajax({
                        url: 'api/cursosCebal'
                    }).then(res => {
                        if (res.err) {
                            toastr.warning('No existen cursos')
                            $('#loadingCourse').empty();
                        } else {
                            datatableCourse.rows.add(res).draw();
                            $('#loadingCourse').empty();
                        }      
                    })
            }
        });   
     $('#tableCourses tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected'); 
            $('#modCourse').prop('disabled', true);
            $('#deletCourse').prop('disabled', true);
            $('#asignarCourse').prop('disabled', true);
            $('#closeCourse').prop('disabled', true);
        } else {
            
            datatableCourse.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            cursosRowSelectedData = datatableCourse.row($(this)).data();
            coursesRowSelected = datatableCourse.row($(this));
            horarioSelect = cursosRowSelectedData.horary
            cursoSelected = cursosRowSelectedData._id 
           console.log(cursosRowSelectedData)
            $('#modCourse').prop('disabled', false);
            $('#deletCourse').prop('disabled', false);
            $('#asignarCourse').prop('disabled', false);
            $('#closeCourse').prop('disabled', false);
        }
    });
}
//DATATABLE FINAL recargar
function reloadTableCourse() {
    ajax({
        url: 'api/cursosCebal'
    }).then(res => {
        if (res.err) {
            toastr.warning('No existen cursos')
        } else {
            datatableCourse.clear().draw();
            datatableCourse.rows.add(res).draw();
            $('#loadingCourse').empty();
        }
    })
}

//tabla alumnos close
function chargeTableCoursesClose() {
    datatableCourseClose = $('#tableCoursesCerrados')
        .DataTable({            
                    "iDisplayLength": 11,
                    "oLanguage": {
                        "sSearch": "Buscar :"
                    },
                    "order": [[0, "desc"]],
                    "responsive": true,
                    "columns": [
                        { "data": "name"},
                        { "data": "year"},
                        { "data": "horary" },             
                    ],
                initComplete: function (settings, json) {
                    ajax({
                        url: 'api/cursosCebalClose'
                    }).then(res => {
                        if (res.err) {
                            $('#loadingCourseCerrado').empty();
                        } else {
                            datatableCourseClose.rows.add(res).draw();
                            $('#loadingCourseCerrado').empty();
                        }      
                    })
            }
        });   
     $('#tableCoursesCerrados tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected'); 
            $('#seeStudentsCourse').prop('disabled', true);
            $('#openCourse').prop('disabled', true);
       
        } else {
            
            datatableCourseClose.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            cursosCloseRowSelectedData = datatableCourseClose.row($(this)).data();
            cursosCloseRowSelected = datatableCourseClose.row($(this));
            cursoSelect = cursosCloseRowSelectedData._id       
            console.log(cursosCloseRowSelectedData)
            console.log(cursoSelect)

            $('#seeStudentsCourse').prop('disabled', false);
            $('#openCourse').prop('disabled', false);
           
        }
    });
}
//DATATABLE FINAL recargar
function reloadTableCourseClose() {
    ajax({
        url: 'api/cursosCebalClose'
    }).then(res => {
        if (res.err) {
           // toastr.warning('No existen cursos cerrados')
        } else {
            datatableCourseClose.clear().draw();
            datatableCourseClose.rows.add(res).draw();
        }
    })
}
//FIN DATATABLE 
//cambiar estado de curso a open
$('#openCourse').on('click', function () {
    let id = cursosCloseRowSelectedData._id
    let name = cursosCloseRowSelectedData.name
    console.log("id = ",id, " name = ",name)
    swal({
        title: '¿Estás seguro de abrir el curso?',
      text: '',
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Aceptar',
      cancelButtonText: 'cancelar',
      confirmButtonClass: 'btn btn-danger',
      cancelButtonClass: 'btn btn-primary',
      buttonsStyling: false
    }).then(function (action) {
        if (action.value) {
            $.ajax({
                url: '/api/abrirCurso',
                type: 'DELETE',
                data: {
                id,
                name
            }    
        }).then((data) => {
            if (data.ok) {
                toastr.success(data.ok); 
                cursosCloseRowSelected.remove().draw();
                reloadTableCourse()
                $('#seeStudentsCourse').prop('disabled', true);
                $('#openCourse').prop('disabled', true);
            }
        });
        }
	}); 
})

//cambiar estado de curso a close
$('#closeCourse').on('click', function () {
    let id = cursosRowSelectedData._id
    let name = cursosRowSelectedData.name
    console.log("id = ",id, " name = ",name)
    swal({
        title: '¿Estás seguro de cerrar el curso?',
      text: '',
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Cerrar',
      cancelButtonText: 'cancelar',
      confirmButtonClass: 'btn btn-danger',
      cancelButtonClass: 'btn btn-primary',
      buttonsStyling: false
    }).then(function (action) {
        if (action.value) {
            $.ajax({
                url: '/api/cerrarCurso',
                type: 'DELETE',
                data: {
                id,
                name
            }    
        }).then((data) => {
            if (data.ok) {
                toastr.success(data.ok); 
                coursesRowSelected.remove().draw();
                reloadTableCourseClose()
                $('#modCourse').prop('disabled', true);
                $('#deletCourse').prop('disabled', true);
                $('#asignarCourse').prop('disabled', true);
                $('#closeCourse').prop('disabled', true);

            }
        });
        }
	}); 
})
$('#newCourse').on('click', function () {
    modalNewCourse();
})

function modalNewCourse() { 
    $('#modalCourses2').modal();
    $('#modal_title2').text('Crear nuevo curso');
    $('#modal_body2').html(`
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <label><i class="fas fa-users"></i> Nombre</label>
            <input id="nameCourse" type="text" onkeyup="aMays(event, this)" onblur="aMays(event, this)" class="form-control border-input" placeholder="Ingrese nombre del curso">
        </div>
            <div class="offset-md-2 col-md-8" style="margin-top:10px;">
                <label style="float:left;"><i class="far fa-calendar-alt"></i> Año</label>
                <input class="form-control" id="yearCourse" type="text" value="${moment().format('YYYY')}" readOnly>    
            </div>
            <div class="offset-md-2 col-md-8" style="margin-top:10px;">
                <label style="float:left;"><i class="fas fa-clock"></i> Horario</label>
                    <select id="selectHorario">
                        <option></option>
                    </select>
            </div>

            <div class="offset-md-3 col-md-3" style="margin-top:15px;">
                <button id="cancelCourse" class="btn btn-secondary btn-block"><i style="color:#f1c40f;" class="fas fa-ban"></i> Cancelar</button>
            </div>
           
            <div class="col-md-3" style="margin-top:2%;">
                <button disabled id="saveCourse" class="btn btn-secondary btn-block"><i style="color:#3498db;" class="fas fa-cloud"></i> Guardar</button>
            </div>   
        </div>       
    `)
    
    $('#nameCourse').on('keyup', function (e){
        let nameCurso=$('#nameCourse').val()
        if (nameCurso.length > 0){
            $('#saveCourse').prop('disabled', false)
        }
    })
    let selects = {
        horario: [],
    }
    ajax({ // cargar horarios
    url:'/api/horariosCoursesTraer'
    }).then(res => {
        console.log(res)
        selects.place = res.filter(function(el) {
            return el.place == '{{{credentials.place}}}'
        })
        console.log(selects.place)
        let horario = selects.place.reduce((arr, el, i) => {
            return arr.concat({
                id: i,
                text: el.horary
            })   
        }, []);

        $('#selectHorario').select2({
            placeholder:'seleccione',
            width:'100%',
            data: horario
        });
    }); 
//fin horario
    $('#cancelCourse').on('click', function () {
        $('#modalCourses2').modal('hide')
    })
    
    $('#saveCourse').on('click', function () {
        let nameCourse   = $('#nameCourse').val()
        let yearCourse   = $('#yearCourse').val()
        let horaryCourse = $('#selectHorario').select2('data')[0].text;
        console.log(horaryCourse)
        ajax({
            url: '/api/newCourse',
            type: 'POST',
            data: {
                nameCourse   :nameCourse,
                yearCourse   :yearCourse,
                horaryCourse :horaryCourse
            }
        }).then(res => {
            console.log(res)
            swal({
                title: 'Agregado!',
                backdrop: 'static', 
                keyboard: false,
                text: res.ok,
                type: 'success',
                timer: 60000
                }).then(result => {
                    reloadTableCourse()
                    $('#modalCourses2').modal('hide')
                })
            })
    })
};
//Eliminar Curso
let curso
$('#deletCourse').on('click', function(){
    swal({
      title: '¿Estás seguro de eliminar el curso?',
      text: '',
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Eliminar',
      cancelButtonText: 'cancelar',
      confirmButtonClass: 'btn btn-danger',
      cancelButtonClass: 'btn btn-primary',
      buttonsStyling: false
    }).then(function(action) {
      if (action.value) {
        ajax({
          url: '/api/deleteCourse',
          type: 'DELETE',
          data: {
            curso: cursosRowSelectedData._id
          }  
        }).then((data) => {
            console.log(curso)
            if (data.ok) {
                toastr.success(data.ok); 
                coursesRowSelected.remove().draw();
                //$('#modHorario').prop('disabled', false);
                //$('#deletHorario').prop('disabled', false);
            }
        });
      }
    });
})
//MODIFICAR UN CURSO
$('#modCourse').on('click', function () {
    modalModCourse();
})

function modalModCourse() { 
    $('#modalCourses2').modal();
    $('#modal_title2').text('Modificar curso');
    $('#modal_body2').html(`
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <label><i class="fas fa-users"></i> Nombre</label>
            <input id="nameModCourse" type="text" onkeyup="aMays(event, this)" onblur="aMays(event, this)" class="form-control border-input" value="${cursosRowSelectedData.name}">
        </div>
            <div class="offset-md-2 col-md-8" style="margin-top:10px;">
                <label style="float:left;"><i class="far fa-calendar-alt"></i> Año</label>
                <input id="yearModCourse" type="text" class="form-control border-input" value="${cursosRowSelectedData.year}" readOnly>
            </div>
            <div class="offset-md-2 col-md-8" style="margin-top:10px;">
                <label style="float:left;"><i class="fas fa-clock"></i> Horario</label>
                <input id="horaryModCourse" type="text" class="form-control border-input" value="${cursosRowSelectedData.horary}" readOnly>
            </div>

              <div class="offset-md-3 col-md-3" style="margin-top:15px;">
                <button id="cancelModCourse" class="btn btn-secondary btn-block"><i style="color:#f1c40f;" class="fas fa-ban"></i> Cancelar</button>
            </div>
           
            <div class="col-md-3" style="margin-top:2%;">
                <button id="modificarCurso" class="btn btn-secondary btn-block"><i style="color:#3498db;" class="fas fa-cloud"></i>Modificar</button>
            </div>  
        </div>       
    `)
    $('#modificarCurso').on('click', function () {
        let mod_name   = $('#nameModCourse').val();
        let mod_year   = $('#yearModCourse').val();
        let mod_horary = $('#horaryModCourse').val();

        ajax({
            url: 'api/modCourses',
            type: 'POST',
            data: {
                id: cursosRowSelectedData._id,
                name: mod_name,
                year: mod_year,
                horary: mod_horary,
            }
        }).then(res => {
            if (res.error) {
                toastr.error(res.error)
            } else {
                swal({
                    title: 'Curso modificado correctamente!',
                    text: res.ok,
                    backdrop: 'static',
                    keyboard: false,
                    type: 'success',
                    timer: 3000
                }).then(result => {
                    $('#modCourse').prop('disabled', true);
                    $('#deletCourse').prop('disabled', true);
                    $('#asignarCourse').prop('disabled', true);
                    $('#modalCourses2').modal('hide')
                    reloadTableCourse()
                })
            }
        })
    });
$('#cancelModCourse').on('click', function () {
    $('#modalCourses2').modal('hide')
})
};
//xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

//MOSTRAR ALUMNOS DE UN CURSO CERRADO
$('#seeStudentsCourse').on('click', function () {
    modalMostrarAlumnosCursoCerrado();
})  

function  modalMostrarAlumnosCursoCerrado(){ 
    alumnosaAsignar = [];
    $('#modalCourses').modal();
    $('#modal_title').text('Lista de alumnos');
    $('#modal_body').html(`
    <div class="container-fluid">
                <div class="tab-content">
                    <div class="tab-pane fade show active" style="margin-left:10px;margin-right:10px" id="#" role="tabpanel" aria-labelledby="enables-tab">
                        <div class="row">
                            <div class="col-md-2 col-xs-12">
                                <button class="btn btn-secondary btn-block" id="printListAlumns" disabled>
                                    <i style="color:#1abc9c;" class="fa fa-plus" aria-hidden="true" ></i> Imprimir lista
                                </button>
                                <button class="btn btn-secondary btn-block" id="alumnoExit" disabled>
                                    <i style="color:#e74c3c;" class="fas fa-trash-alt"></i> Retirar alumno
                                </button>
                            </div>
                            <div class="col-md-10 col-xs-12 box-shadows table-responsive">
                                <table id="tableAlumnosCurso" class="display nowrap table table-condensed" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Rut</th>
                                            <th>Nombre</th>
                                            <th>Apellidos</th>
                                            <th></th>
                                            <th>Horario</th>
                                            <th>Tipo</th>
                                            <th>Promedio</th>
                                            <th>Colegio</th>
                                            <th>Electivo 1</th>
                                            <th>Electivo 2</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>    
                        </div>
                    </div>
                </div> 
            </div> 
    `)
jQuery(document).ready(function ($) {
    chargeTableAlumnosCurso()
});
 //cargar alumnos asignados a un curso en tabla
 function chargeTableAlumnosCurso() {
    datatableAlumnosIntoCourse = $('#tableAlumnosCurso')
        .DataTable({            
                    "iDisplayLength": 100,
                    "dom": 'Bfrtip',
                    "buttons": [ {
                        extend: 'excelHtml5',
                        title:'Listado de Alumnos', 
                        messageTop: (`Curso: `+ cursosCloseRowSelectedData.name),
                        text: 'Exportar Excel',
                        exportOptions: {
                            modifier: {
                                page: 'current',
                            }
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        customize: (doc) => {
                        doc.content.splice(1, 0, {
                           alignment: 'center',
                           text:(`Listado de alumnos del curso: `+ cursosCloseRowSelectedData.name),
                        });
                        }
                    }],
                    "oLanguage": {
                        "sSearch": "Buscar :"
                    },
                    "responsive": true,
                    "columns": [
                        { "data": "_id"},
                        { "data": "name" },
                        { "data": "lastname1"},
                        { "data": "lastname2"},
                        { "data": "horario"},
                        { "data": "tipoCurso"},
                        { "data": "promedio"},
                        { "data": "colegio"},
                        { "data": "electivo"},
                        { "data": "electivo2"}               
                    ],
                initComplete: function (settings, json) {
                    ajax({
                        url: 'api/alumnosporcurso',
                        type: 'POST',
                        data: {idCurso: cursoSelect}
                    }).then(res => {
                        if (res.err) {
                            toastr.warning('No existen Alumnos para asignar')
                        } else if(res.ok) {
                            datatableAlumnosIntoCourse.rows.add(res.ok).draw();
                            $('#loadingCourseAsignar').empty();
                        }      
                    })
                }
        });   
        
     $('#tableAlumnosCurso tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
            $('#alumnoExit').prop('disabled', true);
            
        } else {
            datatableAlumnosIntoCourse.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            alumosRowSelectedData = datatableAlumnosIntoCourse.row($(this)).data();
            alumnosRowSelected = datatableAlumnosIntoCourse.row($(this));
            console.log(alumosRowSelectedData)
            $('#alumnoExit').prop('disabled', false);
       
        }
    }); 
}
//Quitar alumno de un curso
$('#alumnoExit').on('click', function () {
    let id = alumosRowSelectedData._id
    console.log(id)
    
    swal({
      title: '¿Estás seguro de retirar este alumno?',
      text: '',
      type: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Retirar',
      cancelButtonText: 'cancelar',
      confirmButtonClass: 'btn btn-danger',
      cancelButtonClass: 'btn btn-primary',
      buttonsStyling: false
    }).then(function (action) {
        if (action.value) {
            $.ajax({
                url: '/api/retirarAlumno',
                type: 'DELETE',
                data: {
                id
            }    
        }).then((data) => {
            if (data.ok) {
                toastr.success(data.ok); 
                alumnosRowSelected.remove().draw();
                //reloadTableCourseClose()
            }
        });
        }
	}); 
        
})
}

//ASIGNAR ALUMNOS A UN CURSO
$('#asignarCourse').on('click', function () {
    modalAsignarCurso();
})  

function modalAsignarCurso() { 
    alumnosaAsignar = [];
    $('#modalCourses').modal();
    $('#modal_title').text('Lista de alumnos');
    $('#modal_body').html(`
    <div class="container-fluid">
                <div class="tab-content">
                    <div class="tab-pane fade show active" style="margin-left:10px;margin-right:10px" id="#" role="tabpanel" aria-labelledby="enables-tab">
                        <div class="row">
                            <div class="col-md-2 col-xs-12">
                                <button class="btn btn-secondary btn-block" id="asignar" disabled>
                                    <i style="color:#1abc9c;" class="fa fa-plus" aria-hidden="true" ></i> Asignar
                                </button>
                                <button class="btn btn-secondary btn-block" id="cancelarHide" >
                                    <i style="color:#e74c3c;" class="fas fa-trash-alt"></i> Cancelar
                                </button>
                            </div>
                            <div class="col-md-10 col-xs-12 box-shadows table-responsive">
                                <table id="tableAlumnosAsignar" class="display nowrap table table-condensed" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Rut</th>
                                            <th>Nombre</th>
                                            <th>Apellidos</th>
                                            <th></th>
                                            <th>Horario</th>
                                            <th>Tipo</th>
                                            <th>Promedio</th>
                                            <th>Colegio</th>
                                            <th>Electivo 1</th>
                                            <th>Electivo 2</th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>    
                        </div>
                    </div>
                </div> 
            </div> 
    `)

$('#cancelarHide').on('click', function () {
    $('#modalCourses').modal('hide')
})  
    jQuery(document).ready(function ($) {
    chargeTableAlumnos()
    });
 //cargar alumnos enrolled en dataTable
 function chargeTableAlumnos() {
        datatableAlumnosEnrolled = $('#tableAlumnosAsignar')
        .DataTable({            
                    "iDisplayLength": 100,
                    "oLanguage": {
                        "sSearch": "Buscar :"
                    },
                    "responsive": true,
                    "columns": [
                        { "data": "_id"},
                        { "data": "name" },
                        { "data": "lastname1"},
                        { "data": "lastname2"},
                        { "data": "horario"},
                        { "data": "tipoCurso"},
                        { "data": "promedio"},
                        { "data": "colegio"},
                        { "data": "electivo"},
                        { "data": "electivo2"}               
                    ],
                initComplete: function (settings, json) {
                    ajax({
                        url: 'api/alumnosporhorario'
                    }).then(res => {
                        if (res.err) {
                            toastr.warning('No existen Alumnos para asignar')
                        } else if(res.ok) {
                            datatableAlumnosEnrolled.rows.add(res.ok).draw();
                            $('#loadingCourseAsignar').empty();
                        }      
                    })
                }
        });   
        
     $('#tableAlumnosAsignar tbody').on('click', 'tr', function () {
        
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
            $('#asignar').prop('disabled', true);
            let rowTodelete = datatableAlumnosEnrolled.row($(this)).data();

            alumnosaAsignar = alumnosaAsignar.filter(function(el) {
                return el !== rowTodelete._id
            })
        } else {
            $(this).addClass('selected');
            $('#asignar').prop('disabled', false);
            alumosRowSelectedData = datatableAlumnosEnrolled.row($(this)).data();
            alumnosaAsignar.push(alumosRowSelectedData._id)
        }
    });
}
//reload malumnos a asignar
function reloadAlumnostabla() {
        ajax({
            url: 'api/alumnosporhorario'
        }).then(res => {
            console.log(res)
            if (res.err) {
                toastr.warning('No existen alumnos')
            } else {
                datatableAlumnosEnrolled.clear().draw();
                datatableAlumnosEnrolled.rows.add(res).draw();
                $('#loadingCourseAsignar').empty();
            }
        })
}


$('#asignar').on('click', function () {
    asignarAlumnosACurso()
})     
}
function asignarAlumnosACurso(){
    if (alumnosaAsignar[0]){
        ajax({
            url:'api/asignarAlumnosACurso',
            type:'POST',
            data:{
                alumnos: JSON.stringify(alumnosaAsignar),
                idCurso: cursoSelected
            }
        }).then(res=>{
            console.log(res)
            swal({
                        title: 'Alumno(s) asignado(s) correctamente!',
                        text: res.ok,
                        backdrop: 'static',
                        keyboard: false,
                        type: 'success',
                        timer: 3000
                    }).then(result => {
                        $('#modalCourses').modal('hide')  
                    })
        })
    }else{
        toastr.warning('No se ha seleccionado ningún alumno')
    }
  
}
function aMays(e, elemento) {
    tecla=(document.all) ? e.keyCode : e.which; 
    elemento.value = elemento.value.toUpperCase();
}
    
</script>
{{/extend}}