
{{!< layout/default}}
<style>
    .info-box {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    border-radius: .25rem;
    padding: .5rem;
    min-height: 80px;
    background: #fff;
    display: flex!important; 
    }
    .info-box-icon {
    border-radius: .25rem;
    display: block;
    width: 90px;
    text-align: center;
    font-size: 40px;
    color: #fff!important;
    }
</style>
{{#block "css"}}
   
{{/block}}
<div class="container-fluid">
<div class="row" style="margin-top:130px; margin-left: 220px;">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-align-justify"></i></span>
            <div class="info-box-content">
            <span class="info-box-text"><h5><a class="dropdown-item" href="#">Matrículas</a></h5></span>
            <p style="margin-left: 25px"> 1024</p>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-info elevation-1" style="background-color: #23ad67 !important;"><i class="fas fa-user"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text"><h5><a class="dropdown-item" href="#"> Alumnos</a></h5></span>
                    <p style="margin-left: 25px"> 845</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1" style="background-color: #ef3f3f !important;"><i class="fas fa-sign-out-alt"></i></span>
                    <div class="info-box-content">
                            <span class="info-box-text"><h5><a class="dropdown-item" href="#"> Retirados</a></h5></span>
                            <p style="margin-left: 25px"> 41</p>
                        </div>
                </div>
            </div>
        
      
     
     
</div>
<div class="row" style="margin-top:250px">
    <div class="col-md-12">
        <center><img src="/public/img/logo.png"></center> 
    </div>
</div>
</div>
<!-- Modal formato-->
<div class="modal fade" id="modalmatriculas" tabindex="-1" role="dialog" aria-labelledby="modal_title">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background: #c5cff5">
                <h4 class="modal-title" id="modal_title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_body"></div>
            <div class="modal-footer" id="modal_footer"></div>
        </div>
    </div>
</div>

{{#extend "js"}}
<script>
$('#verListaMatriculas').on('click', function () {
    ModalMatriculas();
})
function ModalMatriculas() { 
      $('#modalmatriculas').modal();
      $('#modal_title').text('Listado de matriculas');
      $('#modal_body').html(`
      

      `)
}

</script>

{{/extend}}

