{{!< layout/default}}

{{#extend "css"}}
<style>
.card-header{
    background-color: #9dacea;
    color:#333333;
    padding: 0.2rem 1.25rem;
  }
  .modal-lg2 {
max-width: 1400px;
}
</style>
{{/extend}}

<div class="col-md-12">
        <ul class="nav nav-pills mb-3 nav-justified" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Pruebas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Puntajes</a>
            </li>
        </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
            <div class="row">
                <div class="col-md-2 col-xs-12">
                    <button class="btn btn-secondary btn-block" id="nuevaPrueba">
                        <i style="color:#1abc9c;" class="fa fa-plus" aria-hidden="true" ></i> Agregar
                    </button>
                    <button class="btn btn-secondary btn-block" id="" disabled>
                        <i style="color:#f1c40f;" class="fas fa-edit"></i> Modificar
                    </button>
                    <button class="btn btn-secondary btn-block" id="" disabled>
                        <i style="color:#e74c3c;" class="fas fa-trash-alt"></i> Eliminar
                    </button>
                    <button class="btn btn-secondary btn-block" id="checkEnsayo" disabled>
                            <i style="color:#3965AC;" class="fas fa-clipboard-check"></i> Corregir ensayo
                        </button>
                    </div>
                    <div class="col-md-10 col-xs-12 box-shadows table-responsive">
                        <table id="tableScores" class="display nowrap table table-condensed" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Curso</th>
                                    <th>Materia</th>
                                    <th>Descripción</th>
                                    <th>Docente</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                        </table>
                        <div id="loadingScores">
                            <center>
                                <i style="color:#3498db;" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                <span class="sr-only">Cargando...</span>
                            </center>
                        </div>
                    </div>    
            </div>
        </div>
    
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <div class="container-fluid">
                <div class="tab-content">
                    <div class="tab-pane fade show active" style="margin-left:10px;margin-right:10px" id="#" role="tabpanel" aria-labelledby="enables-tab">
                        <div class="row">
                            <div class="col-md-2 col-xs-12">
                                <br>
                                <button class="btn btn-primary btn-block" id="asignar" style="margin-top: 20px" disabled>
                                    <i class="fa fa-plus"></i> Asignar
                                </button>
                                <br>
                                <button class="btn btn-success btn-block" id="x" disabled>
                                    <i class="fas fa-edit"></i> Modificar
                                </button>
                                <br>
                                <button class="btn btn-danger btn-block" id="x" disabled>
                                    <i class="fas fa-ban"></i> Eliminar
                                </button>
                            </div>
                            <div class="col-md-10 col-xs-12 box-shadows table-responsive">
                                <table id="tableAlumnosAsignar" class="display nowrap table table-condensed" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Rut</th>
                                            <th>Nombre</th>
                                            <th>Puntaje</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div id="loadingScoreOk">
                                    <center>
                                        <i style="color:#3498db;" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
                                        <span class="sr-only">Cargando...</span>
                                    </center>
                                </div>
                            </div>    
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>

<!-- Modal formato-->
<div class="modal fade" id="modalScores" tabindex="-1" role="dialog" aria-labelledby="modal_title" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="background-color: #ffffff">
            <div class="modal-header" style="background:#333333; color:#fff">
                <h5 class="modal-title" id="modal_title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_body"></div>
            <div class="modal-footer" id="modal_footer"></div>
        </div>
    </div>
</div>
<!-- Modal formato-->
<div class="modal fade" id="modalEnsayo" tabindex="-1" role="dialog" aria-labelledby="modal_title" >
        <div class="modal-dialog modal-lg2" role="document">
            <div class="modal-content" style="background-color: #ffffff">
                <div class="modal-header" style="background:#333333; color:#fff">
                    <h5 class="modal-title" id="modal_title2"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal_body2"></div>
                <div class="modal-footer" id="modal_footer2"></div>
            </div>
        </div>
    </div>
{{#extend "js"}}
<script>
    let courseSelected ='';


let datatable;
let datatableEnsayos;
let ensayosRowSelectedData;
let ensayoRowSelected;

 let datatableAlumnosEnsayos;
 let ensayos2RowSelectedData;
 let ensayo2RowSelected;


jQuery(document).ready(function ($) {
    chargeTableEnsayos() 
});
//cargar ensayos en dataTable
    function chargeTableEnsayos() {
       
        datatableEnsayos = $('#tableScores')
        .DataTable({            
                    "iDisplayLength": 11,
                    "oLanguage": {
                        "sSearch": "Buscar :"
                    },
                    "order": [[0, "desc"]],
                    "responsive": true,
                    "columns": [
                        { "data": "nombreCurso"},
                        { "data": "materia"},
                        { "data": "nombrePrueba"},   
                        { "data": "nombreDocente"},
                        { "data": "fechaPrueba"}            
                    ],
                initComplete: function (settings, json) {
                    ajax({
                        url: 'api/ensayosTraer'
                    }).then(res => {
                        if (res.err) {
                            toastr.warning('No existen cursos')
                            $('#loadingScores').empty();
                        } else {
                            datatableEnsayos.rows.add(res).draw();
                            $('#loadingScores').empty();
                        }      
                    })
            }
        });   
   
     $('#tableScores tbody').on('click', 'tr', function () {
      
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected'); 
            $('#checkEnsayo').prop('disabled', true);
           // $('#deletCourse').prop('disabled', true);
        } else {
            datatableEnsayos.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            ensayosRowSelectedData = datatableEnsayos.row($(this)).data();
            ensayoRowSelected = datatableEnsayos.row($(this));
            ensayoSelect = ensayosRowSelectedData._id   
            console.log(ensayosRowSelectedData)
            console.log("idEnsayo",ensayoSelect)
            $('#checkEnsayo').prop('disabled', false);
           // $('#deletCourse').prop('disabled', false);
           
        }
    });
}
//DATATABLE FINAL recargar
function reloadTableEnsayos() {
    ajax({
        url: 'api/ensayosTraer'
    }).then(res => {
        if (res.err) {
            toastr.warning('No existen ensayos')
        } else {
            datatableEnsayos.clear().draw();
            datatableEnsayos.rows.add(res).draw();
            $('#loadingScores').empty();
        }
    })
}

$('#nuevaPrueba').on('click', function () {
    modalnuevaPrueba();
})
function modalnuevaPrueba() { 
    $('#modalScores').modal();
    $('#modal_title').text('Crear nueva Prueba');
    $('#modal_body').html(`
    <div class="card  mb-12" style="max-width: 50rem;">
            <div class="card-header"><h5>Datos curso</h5></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label ><i class="far fa-calendar-alt"></i> Año</label>
                        <input class="form-control" id="selectyear" type="text" value="${moment().format('YYYY')}" readOnly>
                    </div>
                    <div class="col-md-4">
                        <label style="float:left;"><i class="far fa-clock"></i> Horario</label>
                        <select id="selectHorary">
                                <option></option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label style="float:left;"><i class="fas fa-sitemap"></i> Nombre curso</label>
                        <select id="selectname">
                                <option></option>
                        </select>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="card  mb-12" style="max-width: 50rem;margin-top:10px" >
            <div class="card-header"><h5>Datos prueba</h5></div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <label><i class="fas fa-list-ol"></i> Materia</label>
                        <select class="form-control" id="selectMateria">
                            <option>Historia</option>
                            <option>Lenguaje y Comunicación</option>
                            <option>Matemáticas</option>
                            <option>Ciencias</option>
                        </select>
                    </div>
                    <div class="col-md-4"> 
                        <label><i class="far fa-list-alt"></i> Nombre o descripción</label>
                        <input class="form-control" id="namePrueba" type="text" onkeyup="aMays(event, this)" onblur="aMays(event, this)">
                    </div>
                    <div class="col-md-4">
                        <label><i class="fas fa-calendar-alt"></i> fecha </label>
                        <input  id="initDatePrueba" placeholder="Fecha de inicio (Día/Mes/Año)" class="form-control" type="text">
                    </div>
                    <div class="col-md-4"> 
                        <label><i class="fas fa-user-tie"></i> Docente</label>
                        <input class="form-control" id="nameDocente" type="text" onkeyup="aMays(event, this)" onblur="aMays(event, this)">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row"> 
            <div class="offset-md-3 col-md-3" style="margin-top:15px;">
                <button id="cancel" class="btn btn-secondary btn-block"><i style="color:#f1c40f;" class="fas fa-ban"></i> Cancelar</button>
            </div>
            <div class="col-md-3" style="margin-top:15px;">
                <button id="saveScore" class="btn btn-secondary btn-block" disabled><i style="color:#3498db;" class="fas fa-cloud"></i> Guardar</button>
            </div>
        </div>
        </div>     
    `)
    $('#namePrueba').on('change', function() {
        $('#saveScore').prop('disabled', false)
    })


 $('#cancel').on('click', function () {
    $('#modalScores').modal('hide')
 })
//fecha matricula
$('#initDatePrueba').daterangepicker({
        "locale": {
            "format": "DD/MM/YYYY",
            "daysOfWeek": [
            "Dom",
            "Lun",
            "Mar",
            "Mie",
            "Jue",
            "Vie",
            "Sab"
            ],
            "monthNames": [
            "Enero",
            "Febrero",
            "Marzo",
            "Abril",
            "Mayo",
            "Junio",
            "Julio",
            "Agosto",
            "Septiembre",
            "Octubre",
            "Noviembre",
            "Diciembre"
            ],
            "firstDay": 1
        },
        drops: "up",
        singleDatePicker: true,
        showDropdowns: true
    });
 //Iniciar select de cursos
    let selects = {
        horary: []
    }
    ajax({ // cargar horarios
    url:'/api/horaryTraer'
    }).then(res => {
        selects.place = res.filter(function(el) {
            return el.place == '{{{credentials.place}}}'
        })
        let horario = selects.place.reduce((arr, el, i) => {
            return arr.concat({
                id: i,
                text: el.horary
            })   
        }, []);
        $('#selectHorary').select2({
            placeholder:'seleccione',
            width:'100%',
            data: horario
        });
    });  

ajax({ // cargar cursos
    url:'/api/coursesTraer'
    }).then(res => {
        console.log(res)
        $('#selectHorary').on('change', function (e) {
            let selectedHorario = $('#selectHorary').select2('data')[0].text;

            let horarioSelect = res.filter(function(el) {
                return el.horary == selectedHorario
            })
           
            let nameCourseSelect = horarioSelect.reduce((arr, el, i) => {
                return arr.concat({
                    id: i,
                    text: el.name
                })   
            },[]);
            console.log("nombre cursos",nameCourseSelect)
            $('#selectname').empty()
            $('#selectname').select2({
                    placeholder:'seleccione',
                    width:'100%',
                    data: nameCourseSelect
            })
        }); 
        $('#selectname').on('change', function (e) {
            let selectedNameCourse = $('#selectname').select2('data')[0].text;
           
            let courseSelected2 = res.filter(function(el){
                return el.name == selectedNameCourse
            })
            courseSelected = courseSelected2[0]._id
            console.log("id del curso",courseSelected)
        })
    });  

//Guardar un nuevo ensayo
$('#saveScore').on('click', function () {
   let idCurso       = courseSelected
   let nombreCurso   = $('#selectname').select2('data')[0].text;
   let materia       = $('#selectMateria').val()
   let nombrePrueba  = $('#namePrueba').val()
   let fechaPrueba   = $('#initDatePrueba').val()
   let nombreDocente = $('#nameDocente').val()

    ajax({
        url:'api/crearPrueba',
        type:'POST',
        data:{
            idCurso,
            nombreCurso,
            materia,
            nombrePrueba,
            fechaPrueba,
            nombreDocente 
        }
    }).then(res=>{
         swal({
                title: 'Agregado!',
                backdrop: 'static', 
                keyboard: false,
                text: res.ok,
                type: 'success',
                timer: 60000
            }).then(result => {
                $('#modalScores').modal('hide')
                reloadTableEnsayos()
            })
    })
})
};

$('#checkEnsayo').on('click', function () {
    modalChekcEnsayo();
})
function  modalChekcEnsayo() { 
    $('#modalEnsayo').modal();
    $('#modal_title2').text('CORREGIR ENSAYO: '+ ensayosRowSelectedData.nombrePrueba);
    $('#modal_body2').html(`
    
    <div class="container-fluid">
                <div class="tab-content">
                    <div class="tab-pane fade show active" style="margin-left:10px;margin-right:10px" id="#" role="tabpanel" aria-labelledby="enables-tab">
                        <div class="row">
                            <div class="col-md-2 col-xs-12">
                                <button class="btn btn-secondary btn-block" id="printListAlumns" disabled>
                                    <i style="color:#1abc9c;" class="fa fa-plus" aria-hidden="true" ></i> Imprimir lista
                                </button>
                                <button class="btn btn-secondary btn-block" id="alumnoExit" disabled>
                                    <i style="color:#e74c3c;" class="fas fa-trash-alt"></i> Retirar alumno
                                </button>
                            </div>
                            <div class="col-md-10 col-xs-12 box-shadows table-responsive">
                                <table id="tableEnsayos" class="display nowrap table table-condensed" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Alumno</th>
                                            <th>Apellidos</th>
                                            <th></th>
                                            <th>Materia</th>
                                            <th>Descripción</th>
                                            <th>Fecha</th>
                                            <th>Puntaje</th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>    
                        </div>
                    </div>
                </div> 
            </div> 
    
    
    `)
jQuery(document).ready(function ($) {
    chargeTableAlumnosEnsayos()
});
 //cargar alumnos asignados a un curso en tabla
 function chargeTableAlumnosEnsayos() {
    datatableAlumnosEnsayos = $('#tableEnsayos')
        .DataTable({            
                    "iDisplayLength": 100,
                    "dom": 'Bfrtip',
                    "buttons": [ {
                        extend: 'excelHtml5',
                        title:'Listado de Alumnos', 
                        messageTop: (`Ensayo: `+ ensayosRowSelectedData.nombrePrueba),
                        text: 'Exportar Excel',
                        exportOptions: {
                            modifier: {
                                page: 'current',
                            }
                        }
                    }
                   ],
                    "oLanguage": {
                        "sSearch": "Buscar :"
                    },
                    "responsive": true,
                    "columns": [
                        { "data": "name"},
                        { "data": "lastname1"},
                        { "data": "lastname2"},
                        { "data" : "materia"}, 
                        { "data" : "nombreCurso"},   
                        { "data" : "fechaPrueba"},
                        { "data" : " nombreDocente"}            
                    ],
                initComplete: function (settings, json) {
                    ajax({
                        url: 'api/alumnosTraerEnsayo',
                        type: 'POST',
                        data: {idEnsayo: ensayoSelect}
                      
                    }).then(res => {
                        console.log(res)
                        if (res.err) {
                            toastr.warning('No existen ensayos para mostrar')
                        } else if(res.ok) {
                            datatableAlumnosEnsayos.rows.add(res.ok).draw();
                        }      
                    })
                }
        });   
        
     $('#tableEnsayos tbody').on('click', 'tr', function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
          //  $('#alumnoExit').prop('disabled', true);
            
        } else {
            datatableAlumnosEnsayos.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
            ensayos2RowSelectedData = datatableAlumnosEnsayos.row($(this)).data();
            ensayos2RowSelected = datatableAlumnosEnsayos.row($(this));
            console.log(ensayos2RowSelectedData)
          //  $('#alumnoExit').prop('disabled', false);
       
        }
    }); 
}
};
function aMays(e, elemento) {
    tecla=(document.all) ? e.keyCode : e.which; 
    elemento.value = elemento.value.toUpperCase();
}

    

</script>
{{/extend}}